a{
 text-decoration: none;
 color: black;
}
body{
    padding: 20px;
}
header{
    background: white;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content:space-between;
    color: white;
}
header  img{
    width: 30px;
}
header div{
    width: 150px;
    background: black;
    margin-right: 100px;
   
}
#logo{
    width: 350px;


}

aside{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-content: center;
}
aside div{
    margin-top: 20px;
}
aside div:nth-of-type(1){
    margin-left: 10px;
    width: 100px;
    margin-top:0px;
    padding: 10px 0px;
    font-size:20px;
    border-radius: 20px;
    text-align: center;
}

#basket{
    width: 120px;
    text-align: center;
    padding:5px;
    padding-top:15px;
    border-radius: 30px;

}
#basket p{
    float:left;
    margin-top: 7px;
    margin-left: 15px;
}
#basket img{
    margin-right: 15px;
}

/*-----------------------------_____MENU_____-----------------------------------------------------*/

nav{
    margin-top: 30px;
    display:flex;
    justify-content: space-around;
}
nav ol{
    font-size: 35px;
    margin-left: -10%;
}
nav  li{
    
    list-style-type: none;
    display: inline-block;
    margin-left: 80px;

}
.menuHover{
    font-size: 40px;
    background: black;
    color: white;
    padding: 5px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px black;
}
.links{
    
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid black;
    background: white;
    box-shadow: 0px 0px 10px black;
}

/*----------------------------------___CENTER____---------------------------------------------*/

section{
    margin-top: 40px;
}
section ul{
    margin-left: 43%;
}
section ul li{
    list-style-type: none;
    display:inline;

    
}
section ul img{
    width: 40px;
}

section > div:nth-of-type(2){
    margin-top:-370px;
    margin-left: 15%;
    background:white;
}
section > div:nth-of-type(2) img{
    width: 85%;
}
section div:nth-of-type(1){
    font-size: 30px;
    margin-left: 70px;
    margin-top: 120px;
}

#towars{

    display: flex;
    justify-content:space-around;
}
#towars img{
    width: 300px;
    float: left;
    position: relative;
}

#towars > div:nth-of-type(1){
    margin-top: 0px;
}
#towars > div div{
    visibility: hidden;
    height: 0px;
    width:300px;
    -webkit-transition:   height 1s;
    -o-transition:   height 1s;
    transition:  height 1s;
    overflow: hidden;
    word-wrap: break-word;
    color: white;
    font-size: 20px;
        top:-200px;
}
#towars > div:hover div{

    visibility:visible;
    position: relative;
    background: rgba(0,0,0,0.4);
    width:300px;
    height: 200px;
    margin: 0px;


    
    
}
article{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 47%;
    font-size: 30px;
}


/*------------------_____FOOTER____--------------------------------------------------*/

footer{
    margin-top: 10%;
    column-count: 4;
    column-rule:2px solid black;
    
}
footer img{
    width: 30px;
    
    
}
footer > div:nth-of-type(1){

    margin-top: -5%;
}
footer > div:nth-of-type(1) p{
    width: 60%;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 15%;
}

footer > div{
    height: 100px;
}
footer h3{
    text-align: center;
}
footer > div:nth-of-type(4){
    margin-top: 9%;
}
footer > div:nth-of-type(2){
    margin-top: -15%;
}
footer > div:nth-of-type(2) table{
    margin-left: 25%;
    margin-top: 5%;
}
footer tr td:nth-of-type(1){
    text-align: left;
    width: 50px;
}
footer tr td:nth-of-type(2){
    text-align: right;
    width: 100px;
}
footer > div:nth-of-type(3) img{
    margin-left:25%;
    margin-top: 5%;
}
footer > div:nth-of-type(3) input{
    position: relative;
    top:-10px;
}
footer > div:nth-of-type(4) div{
    margin-left: 20%;
    margin-top: %;
}
footer > div:nth-of-type(4) div span{
    position: relative;
    top:-10px;
}
footer > div:nth-of-type(4) a{
    margin-left: 10%;
}



/*------------------------_AUTORIZACJA__-------------------------------------------*/
#using{
    position:absolute;
    z-index: 9999;
    top: 25%;
    left: 36%;
    background: white;
    border: 2px solid black;
    padding: 20px;
    height: 300px;
    border-radius: 10px;
    
}
#using img{
    width: 30px;
    
}
#using label{
    font-weight: bold;
}
#using > div{
    margin-top:50px;
}
#using > div div{

    display: flex;
    height: 40px;
}
#using div input{
    width: 300px;
    height: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
#using div:nth-of-type(3) div div{
   margin-left: 30px;
}
#CANCELOK{
    margin-top: -40px;
    margin-left: 50%;
    padding: 30px;
    background: black;
    color: white;
    height: 40px;
    
}
#CANCELOK > div > div:nth-of-type(2){
    background: black;
    color: white;
    margin-top: -15px;
    padding: 20px;
    
}